<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@600&display=swap" rel="stylesheet"> <!-- Google Fonts -->
    <link rel="stylesheet" href="csqstyle.css">
</head>
<body>
    <div class="container">
        <div class="score">
            <p>Score: {{ score }}</p>
        </div>
        <div class="question-box">
            <p class="question">{{ question }}</p>
        </div>
	    <div class="input-container">
			<form autocomplete="off" id = quiz-form action = "chapter7", method = "POST">
			    <input type="text" autocomplete="off" id="user-answer" name="user_answer" placeholder="Enter your answer">
				<button type="submit" class="submit-btn">Submit</button>
				<button type="button" class="submit-btn" id="change-subject-btn">Change subject</button>			
			</form>
		</div>
        <div class="output-box">
            <p class = "output-text">{{ output }}</p>
        </div>
    </div>
	<script>
		document.getElementById('change-subject-btn').addEventListener('click', function() {
			window.location.href = '/page1'; // Replace '/change_subject' with your Flask route
		});
	</script>
</body>
</html>